html {
  scroll-behavior: smooth;
}
#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bookList {
  list-style-type: none;
  padding: 0;
}

#bookList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#bookList li:last-child {
  border-bottom: none;
}

#bookList li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: lightgreen;
}

#searchInput2 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bookList2 {
  list-style-type: none;
  padding: 0;
}

#bookList2 li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#bookList2 li:last-child {
  border-bottom: none;
}

#bookList2 li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: lightgreen;
}
